<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./core/autoload.php">
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="./test/coverageData/html.xml" />
        <log type="coverage-clover" target="./test/coverageData/clover.xml" />
    </logging>
</phpunit>