<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./core/autoload.php">
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./core/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-xml" target="test/coverageData/coverage.xml" />
    </logging>
</phpunit>